body,
html {
  height: 100%;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; 
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
}

@media (max-width: 800px) {
  .imageSection{
      display: none;
  }
}